<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=null"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Rams_Process.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <dataConfiguration defaultDatabase="Conn"/>
  <connectionStrings>
    <add name="Conn" connectionString="aaa" providerName="System.Data.OracleClient"/>
  </connectionStrings>
  <appSettings>
    <add key="PATH" value="E:\VSS\Rams\Rams_HOT_Down\bin\Debug\HOT_Down.exe"/>
    <add key="NAME" value="HOT_Down"/>
    <add key="UserName" value="YQ"/>
    <add key="PassWord" value="MANAGER"/>
    <add key="NetSet" value="内网"/>
    <add key="PATH_STR" value="C:\V4_RAMS"/>
    <!--执行过程中的日志信息写入该文件夹-->
    <add key="HOT_I_URL" value="https://iata-s.iinet.org/"/>
    <!--是否通过Web返回数据库实例名-->
    <add key="WebUrl" value="http://localhost/DBHelp/DBHelp.asmx"/>
    <!--取指令间隔时间-->
    <add key="TimeOut" value="300"/>
    <!--设置注册表启动项的键,多个程序同时在一台机器运行时，请做特殊设置-->
    <add key="RegName" value="Eterm_CS_HAK"/>
    <!--设置自动运行时对应的JOB-->
    <add key="JOB" value="HAK_JOB_GDS"/>
    <!--取指定的帐套数据-->
    <add key="ID_CODE" value="880"/>
    <!--取指定文件类型的数据-->
    <add key="FILE_TYPE" value="GDS_DETR_HAK,"/>
    <!--单个Eterm账号时配置一个key="Eterm_STR"的账号，两个账号时设置两个key"Eterm_STR1","Eterm_STR2"-->
    <add key="Eterm_STR1" value="host=GZs6l5/HghQ=;port=C1ii1bQNLCU=;user=p2za6UNmTps=;pwd=wAkZSdH7BcctP2k0yEM5tg==;first_comm=F2ciHb63pMC5FpndIqde0vs4E4brfMllxfUYQSmicrM="/>
    <add key="Eterm_STR2" value="host=iRCGhhBoelY=;port=C1ii1bQNLCU=;user=ItbWxwhp4rU=;pwd=wAkZSdH7BcctP2k0yEM5tg==;first_comm=F2ciHb63pMC5FpndIqde0vs4E4brfMllxfUYQSmicrM="/>
    <!--设置数据库连接字符串-->
    <add key="ConnectionString" value="Data Source=vy2B+KhPlZc=;user=zVNUV+9R9O8=;pwd=9OrACCaTrb0=;Workaround Oracle Bug 914652=true"/>
  </appSettings>
  <applicationSettings>
    <Rams_Process.Properties.Settings>
      <setting name="Rams_Process_DBHelp_DBHelp" serializeAs="String">
        <value>http://localhost:3644/DBHelp.asmx</value>
      </setting>
    </Rams_Process.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
